<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        footer {
            background: #eee;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <h1>Skapa produkt</h1>
    <form th:action="@{/admin/products/create}" th:object="${productDTO}" method="post">
        <div>
            <label for="name">Produktnamn: </label> <br>
            <input type="text" th:field="*{name}" id="name"/>
            <p th:errors="*{name}"></p>
        </div>
        <div>
            <label for="price">Pris: </label> <br>
            <input type="number" th:field="*{price}" id="price"/>
            <p th:errors="*{price}"></p>
        </div>
        <div>
            <label for="category">Kategori: </label> <br>
            <input type="text" th:field="*{category}" id="category"/>
            <p th:errors="*{category}"></p>
        </div>
        <div>
            <label for="pictureUrl">Bild: </label> <br>
            <input type="url" th:field="*{pictureUrl}" id="pictureUrl"/>
            <p th:errors="*{pictureUrl}"></p>
        </div>
        <button type="submit">Spara produkt</button>
    </form>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>