<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kategori</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        footer {
            background: #eee;
            padding: 10px;
            text-align: center;
        }

        .product-image {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<header>
    <span>Meny</span> <br>
    <a th:href="@{/cart}">Gå till kundvagn</a>
    <!--    Länk till olika kategorier-->
    <nav>
        <h4>Kategorier: </h4>
        <a th:href="@{/products}">Alla</a>
        <a th:href="@{/products(category='Sushi')}">Sushi</a>
        <a th:href="@{/products(category='Pizza')}">Pizza</a>
        <a th:href="@{/products(category='Pasta')}">Pasta</a>
    </nav>
    <!--    Möjlighet att söka efter produkter-->
    <form th:action="@{/products/search}" method="get">
        <input type="text" name="query" placeholder="Sök efter produkt">
        <button type="submit">Sök</button>
    </form>
</header>
<main>
    <!--Rubrik som visar kategorin-->
    <h1 th:text="'Kategori: ' + ${category}">Kategori</h1>

    <div class="product-container">
        <!--    Loopar igenom produkter-->
        <div class="product-card" th:each="product : ${products}">
            <h2 th:text="${product.name}"></h2>
            <img th:src="${product.pictureUrl}" alt="Produktbild" class="product-image"
                 style="width: 200px; height: 200px; object-fit: cover;"/>
            <p><strong>Pris:</strong><span th:text="${product.price}"></span> kr</p>
            <a th:href="@{'/products/name/' + ${product.name}}">Visa detaljer</a>
            <a th:href="@{'/products/add/' + ${product.id}}">Lägg till i kundvagn</a>
        </div>
    </div>
    <br>
    <a th:href="@{/products}" class="back-btn">Tillbaka till produkter</a>
</main>
<footer>Footer</footer>
</body>
</html>