<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produktinfo</title>
</head>
<body>
<header>
    <span>Meny</span> <br>
    <a th:href="@{/cart}">Gå till kundvagn</a>
    <!--    Länk till olika kategorier-->
    <nav>
        <h4>Kategorier: </h4>
        <a th:href="@{/products}">Alla</a>
        <a th:href="@{/products(category='Sushi')}">Sushi</a>
        <a th:href="@{/products(category='Pizza')}">Pizza</a>
        <a th:href="@{/products(category='Pasta')}">Pasta</a>
    </nav>
    <!--    Möjlighet att söka efter produkter-->
    <form th:action="@{/products/search}" method="get">
        <input type="text" name="query" placeholder="Sök efter produkt">
        <button type="submit">Sök</button>
    </form>
</header>
<main>
    <!--Rubrik som visar produktnamn-->
    <h2 th:text="${product.name}"></h2>
    <img th:src="${product.pictureUrl}" alt="Produktbild" class="product-image"/>
    <p>
        <strong>Pris:</strong>
        <span th:text="${product.price}"></span> kr
    </p>
    <a th:href="@{'/products/add/' + ${product.id}}">Lägg till i kundvagn</a>
    <a th:href="@{/products}" class="back-btn">Tillbaka till produkter</a>
</main>

<footer>Footer</footer>
</body>
</html>