<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orderbekräftelse</title>
</head>
<body>
<header>
    <span>Meny</span> <br>
    <a th:href="@{/cart}">Gå till kundvagn</a>
    <!--    Länk till olika kategorier-->
    <nav>
        <h4>Kategorier: </h4>
        <a th:href="@{/products}">Alla</a>
        <a th:href="@{/products(category='Sushi')}">Sushi</a>
        <a th:href="@{/products(category='Pizza')}">Pizza</a>
        <a th:href="@{/products(category='Pasta')}">Pasta</a>
    </nav>
    <!--    Möjlighet att söka efter produkter-->
    <form th:action="@{/products/search}" method="get">
        <input type="text" name="query" placeholder="Sök efter produkt">
        <button type="submit">Sök</button>
    </form>
</header>

<h1>Tack för din beställning!</h1>

<p>Ordernummer: <strong th:text="${order.id}"></strong></p>
<p>Datum: <span th:text="${order.orderDate}"></span></p>

<table>
    <thead>
    <tr>
        <th>Produkt</th>
        <th>Antal</th>
        <th>Pris</th>
        <th>Summa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${order.orderItems}">
        <td th:text="${item.productName}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.price} + ' kr'"></td>
        <td th:text="${item.quantity * item.price} + ' kr'"></td>
    </tr>
    </tbody>
</table>

<p><strong>Totalt: </strong><span th:text="${order.totalPrice} + ' kr'"></span></p>
<p>En orderbekräftelse har skickats till <span th:text="${order.username}"></span>.</p>

<a href="/products">Fortsätt handla</a>
<footer>Footer</footer>
</body>
</html>