<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookies</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main>

    <h1>Cookiepolicy</h1>

    <h2>Vilka cookies använder vi?</h2>
    <p>Vi använder en cookie vid namn <strong>cookie_consent</strong></p>

    <h2>Vad använder vi till?</h2>
    <p>Den används enbart för att komma ihåg att du har godkänt vår cookiepolicy.</p>

    <h2>Hur länge sparas den?</h2>
    <p>Cookien sparas i 30 dagar och raderas sedan automatiskt.</p>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>