<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        footer {
            background: #eee;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>

    <h1>Alla produkter</h1>
    <p th:if="${#lists.isEmpty(products)}">
        Inga produkter hittades <br><span th:text="${query}"></span>
    </p>


    <div class="product-container">
        <div class="product-card" th:each="product : ${products}">
            <h2 th:text="${product.name}">Produktnamn</h2>
            <img th:src="${product.pictureUrl}" alt="Produktbild" class="product-image"
                 style="width: 200px; height: 200px; object-fit: cover;"/>
            <p><strong>Pris:</strong> <span th:text="${product.price}"></span> kr</p>
            <p><strong>Kategori:</strong> <span th:text="${product.category}"></span></p>
            <a th:href="@{'/products/name/' + ${product.name}}">Visa produktinfo</a>
            <a th:href="@{'/products/add/' + ${product.id}}" class="add-to-cart-btn">Lägg till i kundvagn</a>
            <div th:if="${isAdmin}">
                <form th:action="@{/admin/products/delete}" method="post">
                    <input type="hidden" name="id" th:value="${product.id}">
                    <button type="submit">Radera produkt</button>
                </form>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>