<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>
<div th:replace="fragments/header :: header "></div>

<main>
    <h1>Min profil</h1>
    <p>Email: <span th:text="${user?.username}"></span></p>
    <p>Roll: <span th:text="${user?.role}"></span></p>
    <p>Godkänt villkor: <span th:text="${user?.consent}"></span></p>

    <form th:action="@{/profile/delete}" method="post">
        <button type="submit">Ta bort konto</button>
    </form>
    
    <a href="/profile/export">Ladda ned uppgifter</a>

</main>
</body>
</html>